body
{
  display: block;

}
form
{
    font-weight:bold;
    color: navy;
    height: 100%;

}
.form-container
{
    border: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:5%;
    margin-bottom: 5%;

}

