p {
  font-family: Lato;
}

img {
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
.btn-1 {
  text-align: center;
}
[type="file"] + label {
  background: rgb(28, 97, 202);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
    font-family: Arial;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }

  &.btn-1 {
    background-color: midnightblue;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;

      &:hover {box-shadow: 0 4px darken(#f79159, 10%);top : 2px;}
  }
}
