<h1 style="color: darkblue;font-family: Arial, Helvetica, sans-serif;font-weight: bolder;text-align: center;padding: 10%;padding-bottom: 5%;">
  HOW THIS WORKS
</h1>
<div class="container">
  <div class="row text-center"><!--for become center-->
    <div class="col-md-4 col-sm-12 col-xm-12 services">
      <div class="container">
        <img src="assets/images/people.png" class="service-img" alt="">
        <h4>CREATE ACCOUNT</h4>
        
          <p class="text-center">Create an CertiStore Account
            You will be granted 100 free points
          </p>  
      </div>   
    </div>
    <div class="col-md-4 col-sm-12 col-xm-12 services">
      <div class="container">
        <img src="assets/images/ui.png" class="service-img" alt="" >
        <h4>UPLOAD</h4>
        <p lass="text-center">You can Upload and Share certificate
          UPLOAD A CERTIFICATE - 5 points
        </p>
      </div>     
    </div>
     <div class="col-md-4 col-sm-12 col-xm-12 services">
      <div class="container">
        <img src="assets/images/shareimg.png" class="service-img" alt="">
        <h4>SHARE</h4>
        <p lass="text-center">SHARE A CERTIFICATE  - 6 points
          After you credits are over
            you can purchase credits
          </p> 
      </div>    
     </div>
  </div>
</div>
  