.row{
  background-color: #64B5F6;
  color: white;
}
.col-md-3{
  background-color: white;
  color: blue;
  margin: 60px;
  border-radius: 20px;
}
.col-sm-3{
  background-color: white;
  color: blue;
}
.col-xm-3{
  background-color: white;
  color: blue;
}