
<div class="container">
  <div style="margin-top:5%;">
      <div class="card-deck">
        <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="card" >
          <div class="card-body text-center">
            <h5 class="card-title">Weekly Visits</h5>
            <span class="badge badge-primary">04</span>
          </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="card" >
          <div class="card-body text-center">
            <h5 class="card-title">Recent Uploads</h5>
            <span class="badge badge-primary">04</span>
          </div>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Recent Shares</h5>
            <span class="badge badge-primary">04</span>
          </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Verifications</h5>
            <span class="badge badge-primary">04</span>
          </div>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      </div> <br>
        <div class="card-deck">
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Company Reviews</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Companies</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Educational</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Aesthetic</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
        </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>

        </div>
        <br>
        <div class="card-deck">
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Personal</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Business</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Others</h5>
              <span class="badge badge-primary">04</span>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Deletes</h5>
              <span class="badge badge-primary">04</span>
            </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
          </div>
        </div>
        </div>
          <br>
  </div>
</div>










