<h1 style="color: darkblue;font-family: Arial, Helvetica, sans-serif;font-weight: bolder;text-align: center;padding: 10%;padding-bottom: 5%;">
  ABOUT US
</h1>

      <div class="row text-center">
        <div class="col-md-6 box">
            <img src="assets/images/logo.jpg" class="logo">
            
        </div>
        <div class="col-md-6 text">
          <div class="container">
            <p class=" text-justify ml-5 mr-5">
              We are providing people, the best Document protector of the century. This platform  helps you to digitalized your certificates .We are providing you the options of Uploading and Sharing certificates among each other.
              This platform is mainly for Undergraduates, Graduates and any age ranged person who are carrying big sized file of certificates for the interviews.
              <br> 
              By using our platform ,
              You only have to carry your mobile with you for the interview.
              Many companies have joined their hands with us. So this will make a great change in the world of interviewing.<br>
          </p>
          <h1 class="vision">Secure | Store | Share</h1>
          </div>
        </div>
      </div>

