<div class="container mt-5">
<div class="card-group">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xm-12">
            <div class="card" >  
                <div class="card-body">
                    <h5 class="card-title"><b>Summary</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text" style="color:black;"> Summary note on senders <br>
                    Google Sheets</p>

                    <a href="#" class="card-link"><b>Summary of Profiles</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xm-12">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"><b>New Invitations-Undergraduates</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Certificates links</h6>
                    <p class="card-text" style="color:black;">Certificates packs of undergraduates for internships</p>
                    <a routerLink="OrgCardProfile" class="card-link"><b>Profiles</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xm-12">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"><b>New Invitations-Graduates</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Certificates links</h6>
                    <p class="card-text" style="color:black;">Certificates packs of Graduates for perment jobroll</p>
                    <a routerLink="OrgCardProfile" class="card-link"><b>Profiles</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>