<div class="container">
<!--nav for certificate selection-->
<div class="col-10" style="margin-top:5%;">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="/Dashboard" role="tab" aria-controls="nav-home" aria-selected="true">EDUCATIONAL</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">AESTHETIC</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">PERSONAL</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">BUSINESS</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">OTHERS</a>
    </div>
  </nav>
</div>

<br>
      <div class="card-deck" style="margin-left: 5px;">
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Educational</h5>
            <p class="card-text">Advanced Level Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Educational</h5>
            <p class="card-text">Advanced Level Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Birth Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Birth Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Birth Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Birth Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
        </div>
        <br>
        <div class="card-deck" style="margin-left: 5px;">
          <div class="card">
            <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Birth Certificate</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
          <div class="card">
            <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Birth Certificate</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
          <div class="card">
            <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Birth Certificate</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
          <div class="card">
            <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Sport</h5>
              <p class="card-text">Karate Certificate</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
          <div class="card">
          <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap" width="15%">
          <div class="card-body">
            <h5 class="card-title">Educational</h5>
            <p class="card-text">Advanced Level Certificate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated {{today | date:'h:mma dMMMy'}}</small>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
          <div class="card">
            <img class="card-img-top" src="assets/images/main.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">Birth Certificate</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

      </div>
    </div>








