<div class="container">
<!-- Nav tabs -->
  <ul class="nav nav-tabs" style="margin-top: 2%;">
    <li class="active"><a href="#home" data-toggle="tab">
      <span class="glyphicon glyphicon-inbox">
    </span>Click to Load</a>
  </li>
    
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <div class="list-group">
          <a href="#" class="list-group-item read">
            <div class="checkbox">
                <label>
                  <input type="checkbox">
                    </label>
            </div>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="name" style="min-width: 120px;display: inline-block;">
                {{ accountname }}
              </span> 
              <span class="">Welcome to CertiStore!</span>
              <span class="text-muted" style="font-size: 11px;">- Hi hello user, Welcome to</span> 
              <span class="badge">{{today | date:'h:mma dMMMy'}}</span> 
              <span class="pull-right" >
              <span class="glyphicon glyphicon-paperclip"></span>
              </span>
          </a>
          <a href="#" class="list-group-item read">
            <div class="checkbox">
                <label>
                  <input type="checkbox">
                    </label>
            </div>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="name" style="min-width: 120px;display: inline-block;">
                {{ accountname }}
              </span> 
              <span class="">Welcome to CertiStore!</span>
              <span class="text-muted" style="font-size: 11px;">- Hi hello user, Welcome to</span> 
              <span class="badge">{{today | date:'h:mma dMMMy'}}</span> <span class="pull-right">
              <span class="glyphicon glyphicon-paperclip"></span>
              </span>
          </a>
          <a href="#" class="list-group-item read">
            <div class="checkbox">
                <label>
                  <input type="checkbox">
                    </label>
            </div>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="name" style="min-width: 120px;display: inline-block;">
                {{ accountname }}
              </span> 
              <span class="">Welcome to CertiStore!</span>
              <span class="text-muted" style="font-size: 11px;">- Hi hello user, Welcome to</span> 
              <span class="badge">{{today | date:'h:mma dMMMy'}}</span> <span class="pull-right">
              <span class="glyphicon glyphicon-paperclip"></span>
              </span>
          </a>
                 
        </div>
    </div>
   
<!--
  <div class="tab-pane fade in" id="settings">
    This tab is empty.</div>
</div>
 --->
</div>
