<!--------------------------------------------Header-------------------------------------------------->
<section class="container-fluid">
  <app-header></app-header>
</section>
<!-------------------------------------------Banner---------------------------------------------------->
   <section id="banner">

    <div class="container-fluid">
      <div class="container">
        <div class="row pt-3" >
            <div class="col-md-6 col-sm-6 col-xm-6">

              <div class="nametag">
                <div class="row">
                  <span class="border border-light">
                  <div class="col-md-6 col-sm-6 col-xm-6">
                    <div class="nametagCerti">CERTI</div>
                  </div>
                </span>
                <span class="border border-light">
                  <div class="col-md-12 col-sm-12 col-xm-12" style="background-color: #FFF;">
                    <div class="nametagStore">Store</div>
                  </div>
                </span>
                </div>
              </div>


              <p class="minor-text-two">Online Certificate Platform</p>
              <p>We protect your certificates for you</p>
              <p>One place for your Certificates</p>
              <p>Send your Certificates to your dream company</p>

              <div class="mt-5 ml-2">
                <div class="row">
                  <button type="button" class="btn btn-lg buttonmain mb-2" routerLink="/Signup" >Join as a User</button>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-lg buttonmain mb-2" routerLink="/orgSignup" >Join as an Organization</button>
                </div>
                <div class="row">
                  <button type="button" class="btn btn-lg buttonmain" >Join as a Verification Organization</button>
                </div>
              </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xm-6" style="margin-top:5%;">

            <img src="assets/images/signin.png " class="img-fluid" >

          </div>
        </div>
      </div>
    </div>

</section>

<!--------------------------------------------How it works-------------------------------------------------->
<section id="features" class="container-fluid">
  <app-features></app-features>
</section>

<!--------------------------------------------About Us-------------------------------------------------->

<section id="aboutus" class="container-fluid">
  <app-aboutus></app-aboutus>
</section>

<!--------------------------------------------Payment Gateway-------------------------------------------------->

<section class="container-fluid">
  <app-paymentgateway></app-paymentgateway>
</section>
<section id="contactus" class="container-fluid">
  <app-contactus></app-contactus>
</section>

<!---------------------------------------------Footer----------------------------------------------------------->
<footer>
  <app-footer></app-footer>
</footer>
